[submodule "ansible/depends/source.RPMFusion"]
	path = ansible/depends/source.RPMFusion
	url = https://github.com/Unicorn-OS/source.RPMFusion.git
[submodule "depends/DreamBlock.Audio"]
	path = depends/DreamBlock.Audio
	url = git@github.com:Audiovana/DreamBlock.Audio.git
